@import "reset.scss";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

@mixin placeholder($color, $font) {
    &::-webkit-input-placeholder {
        color: $color;
        font: $font;
        opacity: 1;
    }
    &::-moz-placeholder {
        color: $color;
        font: $font;
        opacity: 1;
    }
    &:-moz-placeholder {
        color: $color;
        font: $font;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: $color;
        font: $font;
        opacity: 1;
    }
}
$font_main: 'Roboto', sans-serif;
body {
    font: 400 16px/1.3 $font_main;
}
.text-danger {
    font-size: 12px;
    color: #ff2209;
    margin-bottom: 10px;
}
.page-wrapper {
    max-width: 1080px;
    margin: 0 auto;
}

.btn, button {
    padding: 7px 10px;
    cursor: pointer;
}

.img-responsive {
    max-width: 100%;
}

@import 'chat.scss';